h1 {
    background: white;
    padding: 2em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
    background-image: url(https://66.media.tumblr.com/f78cfbd7742b83c2493c498314979561/tumblr_inline_mkjl0amT9L1qz4rgp.png);
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;
}

text {
    background: white;
}

.content {
    max-width: 800px;
    margin: auto;
    background: white;
  }

ul {
    list-style-type: none;
}